<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-button" data-activates="dropdown1">
                    <i class="material-icons left">perm_identity</i><%= @current_user.name %> 
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<h1> Admin logged!</h1>
<br>
<br>
<%= render 'admin/creator_permission_list/show' do %>
<% end %>