<div class="login">
	<div class="container">
		<div class="form">

        <h1>Log in</h1>
		<%= form_for(:session, url: login_path) do |u| %> 
  		<p> Email:<%= u.email_field :email%> </p> 
  		<p> Senha:<%= u.password_field :senha%> </p> 
  		<%= u.submit "Log in", class: "btn-submit" %>
		<% end %>

		
    </div>
	</div>
</div>