<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Você foi convidado para responder uma Enquete!</h1>
    <p>
      Bla, bla, bla<br>
    </p>
    <p>
      Para responder a enquete clique no link abaixo:
    </p>
    <p>
      <br><br>Obrigado,<br>
      myTinyPoll
    </p>
  </body>
</html>