# Rename this file to .env.example
# Add account settings and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry gets set as a local environment variable.
# This file overrides ENV variables in the Unix shell.
SECRET_KEY_BASE=
MYTINYPOLL_DATABASE_PASSWORD=

# Google ReCaptcha
RECAPTCHA_PUBLIC_KEY = 369011a13e533b61cf04d3e7ce239b31
RECAPTCHA_SECRET_KEY = f8c7de13e9c740fb806c74c3470da2a8
