<%= render :layout => '/layouts/user_layout' do %>
    <br><br>
    <div class="container">
        <%= render 'admin/creator_permission_list/add' %>
        <br><br>
        <h5 class="header center blue-text">O que é ser um criador de Enquetes?</h5>
        <br><br>
        <p>
            BLA, BLA, BLA... <br>
            BLA, BLA, BLA... <br>
            BLA, BLA, BLA... <br>
            BLA, BLA, BLA... <br>
            BLA, BLA, BLA... <br>
        </p>
    </div>
    <br><br>
<% end %>