<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pedido de Permissão do usuário <%= @user.name %></h1>
    <p>
      O usuário <%= @user.name%> requisita permissão
      para ser um criador de enquetes.<br>
    </p>
    <p>
      Para permitir a criação, clique no link:.
    </p>
  </body>
</html>