<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons left">store</i>Home</a></li>
        <li><a href="signup"><i class="material-icons left">view_module</i>Sign Up</a></li>
        <li><a href="about"><i class="material-icons left">info</i>Sobre</a></li>
      </ul>
    </div>
</nav>

<main>
    <%= yield %>
</main>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <center>
                © 2016 Copyright - All rights reserved to
                <a class="grey-text text-lighten-4" href="http://ese.cos.ufrj.br/ese/"> LENS-UFRJ </a>
            </center>
        </div>
    </div>
</footer>