<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li>
            <%= link_to root_url do%>
                <i class="material-icons left">store</i>Home
            <% end %>
        </li>
        <li>
            <%= link_to :signup do%>
                <i class="material-icons left">view_module</i>Sign Up
            <% end %>
        </li>
        <li>
            <%= link_to :about do%>
                <i class="material-icons left">info</i>Sobre
            <% end %>
        </li>
      </ul>
    </div>
</nav>

<main>
    <%= yield %>
</main>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <center>
                © 2016 Copyright - All rights reserved to
                <a class="grey-text text-lighten-4" href="http://ese.cos.ufrj.br/ese/"> LENS-UFRJ </a>
            </center>
        </div>
    </div>
</footer>